{% extends "base2.html" %}
{% load static %}
{% block content %}
	
	<h2 id="target" class="page-heading heading--outcontainer">Now in the cinema</h2>

    <div class="col-sm-12">
        <div class="row" style="padding-left: 40px; padding-right: 40px; ">
            <div >
                {% for movie in movie_list %}

                	<div class="movie movie--test movie--test--dark movie--test--left" style ="border: black; border-radius:0px; border-bottom-style: inset; margin-bottom: 10px; margin-top: 10px; border-radius: 10px;">
	                        <div class="movie__images">
	                            <a href="{% url 'movie' movie.movie_name %}" class="movie-beta__link"> 
                                    
	                            <img alt="" src="{% static movie.movie_image %}">
	                            </a>
	                        </div>

	                        <div class="movie__info">
	                            <a href="" class="movie__title">{{movie.movie_name}}</a>

	                            <p class="movie__time">{{movie.movie_length}}</p>
	                            <p class="release_date">{{movie.release_date}}</p>

	                            <p class="movie__option">{{movie.categories}}</p>
	                            
	                            <div class="movie__rate">
	                                <div class="score" style="cursor: pointer; width: 130px;">
	                                	<img src="{% static 'star-off.svg' %}" alt="1" title="bad"> &nbsp;
	                                	<img src="{% static 'star-off.svg' %}" alt="2" title="poor"> &nbsp;
	                                	<img src="{% static 'star-off.svg' %}" alt="3" title="regular"> &nbsp;
	                                	<img src="{% static 'star-off.svg' %}" alt="4" title="good"> &nbsp;
	                                	<img src="{% static 'star-off.svg' %}" alt="5" title="gorgeous">
	                                	<input type="hidden" name="score">
	                                </div>
	                                <span class="movie__rating">{{movie.rating}}</span>
	                            </div>               
	                        </div>
	                    </div> 

                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}