
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
<title>Juliana Rotich</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--..........................CSS........................-->
<link rel="stylesheet" href="http://julia.na/assets/css/normalize.css">
<link rel="stylesheet" href="http://julia.na/assets/css/foundation.min.css" >
<link rel="stylesheet/less" type="text/css" href="http://julia.na/assets/css/main.less">
<link rel="stylesheet/less" type="text/css" href="http://julia.na/assets/css/content.less">
<link rel="stylesheet" href="http://julia.na/assets/css/jquery.bxslider.css" >
<link rel="stylesheet" href="http://julia.na/assets/css/font-awesome.css">
<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://julia.na/assets/css/magnific-popup.css"> 

  
<!--..........................JS.........................-->
<script src="http://julia.na/js/libs/custom.modernizr.js"></script>
<script src="http://julia.na/js/libs/less-1.3.3.min.js"></script>


<!--.......................FAVICON.......................-->    
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->






<!--.......................................................
START : HOME HEADER   
.......................................................-->
<header id="top">

<div class="contain-to-grid sticky">
  <nav class="top-bar" >
    <ul class="title-area">
      <li class="name"><h1><a href="#top" class="scroll">JR</a><span>Juliana Rotich</span></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#about" class="scroll">about</a></li>
        <li><a href="#talks" class="scroll">talks</a></li>
        <li><a href="#work" class="scroll">work</a></li>
        <li><a href="#appearances" class="scroll">appearances</a></li>
        <li><a href="#gallery" class="scroll">gallery</a></li>
        <li><a href="#contact" class="scroll">contact</a></li>
        <li><a href="http://afromusing.com/" target="_blank">blog</a></li>
      </ul>
    <section class="top-bar-section">
  </nav>
</div> 


</header>
<!--.......................................................
END : HOME HEADER   
.......................................................-->

<!--.......................................................
START : CONTENT  
.......................................................-->




<!--start : hero -->
<div id="hero_cont">

<span class="opl"><a href="http://onepagelove.com/AddYourFeatureLinkHere" target="_blank">Your Site Name featured on One Page Love</a></span>

  <div class="hero_txt">

    <h2>Africa <small>&</small> Beyond</h2>
    <hr/>
    <p>MAKE - FIX - HELP OTHERS</p>
  </div>
<p><a href="#about" class="scroll"><i class="icon-angle-down"></i></a></p>
  <div class="hero_img">
    <img src="http://julia.na/assets/img/content/hero_top.jpg">
  </div>  
</div>
<!--end : hero -->

<!--start : panel -->
<div class="pagepanel down_arrow white" id="about">
  <div class="center">
    <h2>ABOUT</h2>
    <hr/>
    <p>Juliana is a Technologist, <a href="#">MIT Media Lab</a> Director's Fellow,<a href="#"> TED Senior Fellow</a> and currently serves as Chair of <a href="#">World Economic Forum</a> Global Agenda Council on Data Driven Development. 
    </p><p>
    Juliana is Executive Director of <a href="#">Ushahidi Inc</a>, a non-profit tech company, born in Africa, which specializes in developing free and open source software for information collection, interactive mapping and data curation.  Ushahidi builds tools for democratizing information, increasing transparency and lowering the barriers for individuals to share their stories. She leads a team that is expanding its global footprint and making crowdsourcing tools available and useful, and catalyzing entrepreneurial initiatives like iHub in Kenya. 
    </p><p>
    She is a board member for <a href="#">Ushahidi Inc</a>, <a href="#"> Ltd</a>, <a href="#">BRCK  Inc</a>. <br/>She serves on the advisory council of Microsoft 4Afrika and <a href="#">Waabeh Ltd</a>.
    </p>
  </div>
</div>
<!--end : panel -->

<!--start : panel -->
<div class="pagepanel down_arrow black" id="talks">

<div class="center sml-center">
<h2>TALKS</h2>
<hr/>
  <h3><a href="http://www.youtube.com/watch?v=qsJYrwzfd6w" class="popup-youtube">MEET BRCK<i class="icon-youtube-play"></i></a></h3>
  <p>Internet access built for Africa - TED (2013)</p>

  <h3><a href="http://live.wsj.com/video/juliana-rotich-of-kenya-ushahidi-at-d-mobile/8DD86E82-E863-4F19-8E0C-D9EAF84C4448.html#!8DD86E82-E863-4F19-8E0C-D9EAF84C4448" target="_blank">On mobile and Strategy<i class="icon-youtube-play"></i></a></h3>
  <p>The Greater Global Lesson Is Local “Context Intelligence” - WSJ ALL THINGS DIGITAL  (2013)</p>

  <h3><a href="https://www.youtube.com/watch?v=RIi2qlLVNao" class="popup-youtube">On Open Source and Innovation<i class="icon-youtube-play"></i></a></h3>
  <p>What happens when barriers to innovation become drastically lower? - LIFT (2011)</p>
</div>

</div>

<!--end : panel -->





<!--start : panel -->
<div class="pagepanel down_arrow white work" id="work">
  <div class="center">
    <h2>WORK</h2>
    <hr/>
    <!--+++++++++-->
    <div class="row">
      <div class="columns large-6">
        <h4><i class="icon-group"></i>BOARD MEMBER</h4>
          <!--.......-->
          <h5 class="more_head ushahidi"><span>ushahidi</span> <i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>EXECUTIVE DIRECTOR</strong>

          Ushahidi Inc. is non-profit tech company that specializes in developing free and open source software for information collection, visualization and interactive mapping.
          <a href="http://ushahidi.com/" class="link"><i class="icon-link"></i>ushahidi.com</a>
          </p>
          <!--.......-->
          <h5 class="more_head ihub"><span>iHub</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>TRUSTEE</strong>

          Nairobi's Innovation Hub for the technology community is an open space for the technologists, investors, tech companies and hackers in the area. This space is a tech community facility with a focus on young entrepreneurs, web and mobile phone programmers, designers and researchers.
          <a href="http://www.ihub.co.ke/" class="link"><i class="icon-link"></i>ihub.com</a>
          </p>

          <!--.......-->
          <h5 class="more_head brck"><span>BRCK</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>DIRECTOR</strong>

          The BRCK is a rugged, cloud managed, full-featured router with built in failover and programmable GPIO expansion. BRCK can connect to the internet through RJ47, GSM, Wifi Bridge, as well as Ethernet Over USB via the GPIO Breakout. It’s rugged build and cloud managed interface make it ideal for “away teams”, monitoring systems in remote locations, and businesses with challenging infrastructure.
          <a href="http://www.brck.com/" class="link"><i class="icon-link"></i>brck.com</a>
          </p>
          <!--.......-->
          <h5 class="more_head bankinter"><span>Bankinter</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>BOARD MEMBER </strong>

          The Mission of the Bankinter Innovation Foundation is to create sustainable wealth through innovation and entrepreneurship.
          <br/><br/>
          Since our founding in 2003, we have had form her vocation to be a groundbreaking model of contribution to society, dedicating our efforts to encourage innovation and entrepreneurship, as engines of creation of sustainable wealth, among all the agents active of our society, from entrepreneurs and senior managers, entrepreneurs to those that will be in the future, students.
          <a href="http://www.fundacionbankinter.org/en/foundation" class="link"><i class="icon-link"></i>fundacionbankinter.org/en/foundation</a>
          </p>
          <!--.......--> 

      </div>
      <div class="columns large-6">
        <h4><i class="icon-flag-alt"></i>FELLOWSHIPS</h4>
          <!--.......-->
          <h5 class="more_head mit"><span>MIT Media Lab</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>DIRECTOR'S FELLOW</strong>

          The fellows initiative is one way to open up the Lab up to the world, which will benefit both the fellows and the Lab community tremendously.
<br/><br/>
What all the fellows have in common is that they’re leaders in their fields, and that they embody the Lab's uniqueness, impact, and magic. -Joi Ito MIT Media Lab Director
          <a href="http://www.media.mit.edu/people/directors-fellows" class="link"><i class="icon-link"></i>media.mit.edu/people/directors-fellows</a>
          </p>
          <!--.......-->
          <h5 class="more_head ted"><span>TED</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>SPEAKER</strong>

          <a href="http://www.ted.com/speakers/juliana_rotich.html"><i class="icon-link"></i>ted.com/speakers/juliana_rotich.html</a><br/>
          <strong>Senior Fellow</strong><br/>
          <strong>Co-Curator and Co-host TEDxNairobi</strong>
          A proud TEDster and co-curator of TEDxNairobi, Juliana is passionate about inspiring others, sharing the changing African narrative and exploring how ideas and action can positively change our world.
          <a href="http://fellows.ted.com/profiles/juliana-rotich" class="link"><i class="icon-link"></i>fellows.ted.com/profiles/juliana-rotich</a>

          

          
          </p>
          <!--.......-->
          <h5 class="more_head desmond"><span>DESMOND TUTU</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>ASSOCIATE FELLOW</strong>

          <a href="http://www.alinstitute.org/news/default.aspx" class="link"><i class="icon-link"></i>www.alinstitute.org/news/default.aspx</a>
          </p>
          <!--.......-->
  
      </div>
    </div>
    <!--+++++++++-->
    <div class="row">
      <div class="columns large-6">
        <h4><i class="icon-folder-close-alt"></i>ADVISORY BOARDS</h4>
          <!--.......-->
          <h5 class="more_head microsoft"><span>MICROSOFT 4 AFRICA</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>ADVISOR</strong>
          4Afrika Advisory Council comprised of high ranking individuals within the African continent.
          <br/><br/>
          As part of the 4Afrika Initiative, our Council members have been specially chosen for their vision and strategic insights. Each is dedicated to creating opportunities for the next generation, for the benefit of Africa.
          <br/><br/>
          The Council is chaired by former Tanzanian President, H.E. Benjamin Mkapa, and the Vice Chair is Mteto Nyati – Microsoft South Africa Managing Director.
          <a href="http://www.microsoft.com/africa/4afrika/advisory-council.aspx" class="link"><i class="icon-link"></i>microsoft.com/africa/4afrika/advisory-council.aspx</a>
          </p>
          <!--.......-->
          <h5 class="more_head waabeh"><span>WAABEH</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>ADVISOR</strong>

          Waabeh is an African Audio Market Place.<br/><br/> Waabeh is solving the problem of search, discovery and distribution of Audio content [ Music, Podcasts, Education, Audio books,] essentially anything you want to hear. <br/><br/>
          The focus on Africa is based on love for collecting African stories, a vast experience in the market both in music - tech industry, and most importantly a realization in the opportunity that lies by serving up the huge unmet global demand for African audio content.
          <a href="http://waabeh.com/" class="link"><i class="icon-link"></i>waabeh.com</a>
          </p>
          <!--.......-->
    

      </div>
      <div class="columns large-6">
        <h4><i class="icon-shield"></i>AWARDS</h4>
          <!--.......-->
          <h5 class="more_head dld"><span>DLD</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>DLD Women Impact Award 2013</strong>

          "We are proud to present this award to strong women who, using digital technologies, improve, enrich and even save people's lives by showing braveness and commitment," DLDwomen founder Steffi Czerny comments on the award, which was presented by Gabriele Zedlmayer, Vice President Global Social Innovation at Hewlett-Packard. <br/><br/>Zedlmayer: "Juliana Rotich is an exceptional individual - technologist, creator, innovator and an optimist who actually turns her visions into reality."
        
          <a href="http://dld-conference.com/blog_posts/dldwomen-impact-award-2013" class="link"><i class="icon-link"></i>dld-conference.com/blog_posts/dldwomen-impact-award-2013</a>
          </p>
          <!--.......-->
          <h5 class="more_head socialent"><span>SOCIAL ENT</span><i class="icon-plus"></i></h5>
          <p class="more_body">
          <strong>Social Entrepreneur of the Year  2011 - Schwab Foundation<br/> World Economic Forum </strong>
          Social Entrepreneur of the Year  2011 - Schwab Foundation World Economic Forum 
          The next chapter for Africa requires us to look both at the tremendous opportunities for economic growth, and the challenges the continent faces in being able to tap into this growth.<br/><br/> Social entrepreneurs, and their innovations promoting inclusive economic growth, are critical to improving the state of the world, and therefore the work we do at the World Economic Forum. - Hilde Schwab
          <a href="http://www.schwabfound.org/content/juliana-rotich" class="link"><i class="icon-link"></i>schwabfound.org/content/juliana-rotich</a>
          </p>
          <!--.......-->
    
        
      </div>
    </div>
    <!--+++++++++-->
  </div>
</div>
<!--end : panel -->


<!--start : panel -->
<div class="pagepanel image down_arrow dark" >
  <h2>APPEARANCES & CONFERENCES</h2>
  <div class="hero_content_img"><img src="http://julia.na/assets/img/content/hero_content1.jpg"/></div>
</div>
<!--end : panel -->



<!--start : panel -->
<div class="pagepanel white" id="appearances">
  <div class="center">
    <h3>UPCOMING APPEARANCES</h3>

 <!--<p><strong><a href="#">WPP Stream</a> - </strong> <small>Oct 24-27th 2013</small></p>
 <p><strong><a href="#">General Assembly of the International Federation of Red Cross and Red Crescent Societies</a> - </strong> <small>Nov 11th - 14th 2013 </small></p> -->
 <p><strong>Net Explorateur Forum with UNESCO, Paris - </strong> <small> March 26th - 28th 2014</small></p>
 <p><strong>London School of Economics Africa Summit, London - </strong> <small> April 5th 2014 </small></p>
 <p><strong>Bloomberg New Energy Finance, New York - </strong> <small> April 7th - 9th 2014 </small></p>
 <p><strong> World Economic Forum on Africa - </strong> Abuja <small> May 6th - 9th 2014</small> </p>
 
    <hr class="divide" />
  </div>
</div>
<!--end : panel -->

<!--start : panel -->
<div class="pagepanel white slider_panel">
<h3>PAST APPEARANCES</h3>
<div class="twoslides">
  <div class="slide"><img src="http://julia.na/assets/img/content/appearance_1.jpg"><h5><a href="http://www.ifrc.org/es/noticias/noticias/international/the-future-of-humanitarian-action-63725/" target="_blank">General Assembly of the International Federation of Red Cross and Red Crescent Societies</a></h5><p>Nov 11th - 14th 2013 </p></div>

  <!--<div class="slide"><img src="http://julia.na/assets/img/content/appearance_2.jpg"><h5>WPP Stream October</h5><p>24-27th 2013</p></div>-->

  <div class="slide"><img src="http://julia.na/assets/img/content/appearance_2.jpg"><h5>Clinton Global Initiative - Panel on Tech and Innovation Trends </h5><p>September 23rd 2013</p></div>

  <!--<<div class="slide"><img src="http://julia.na/assets/img/content/slider_2.jpg"><h5>Design of Complexity Workshop</h5><p>MIT July 22nd 2013 </p></div>-->

  <div class="slide"><img src="http://julia.na/assets/img/content/appearance_3.jpg"><h5>DLD women</h5><p>Munich July 15th 2013</p></div>

   <!--<div class="slide"><img src="http://julia.na/assets/img/content/slider_2.jpg"><h5>Platform Conference</h5><p>MIT July 12th 2013</p></div>-->

  <!--<div class="slide"><img src="http://julia.na/assets/img/content/slider_1.jpg"><h5>Deutsche Telekom</h5><p>24Hours Conference July 10th 2013</p></div>-->
  <div class="slide"><img src="http://julia.na/assets/img/content/appearance_8.jpg"><h5>Wired for change</h5><p></p></div>

  <div class="slide"><img src="http://julia.na/assets/img/content/appearance_5.jpg"><h5>TEDGlobal 2013</h5><p>Edinburgh - June 12th 2013</p></div>
   <div class="slide"><img src="http://julia.na/assets/img/content/appearance_4.jpg"><h5>Stockholm Internet Forum</h5><p>May 8th 2013</p></div>

   <div class="slide"><img src="http://julia.na/assets/img/content/appearance_6.jpg"><h5>World Economic Forum</h5><p>Africa May 8th 2013</p></div>

   <div class="slide"><img src="http://julia.na/assets/img/content/appearance_10.jpg"><h5>All Things Digital WSJ D: Mobile</h5><p>April 14th 2013 </p></div>      
</div>
</div>
<!--end : panel -->




<!--start : panel -->
<div class="pagepanel transparent slider_panel" id="gallery">
  <div class="center"> 
    <h2>GALLERY</h2>
    <hr/>
    <p>View more images on <a href="http://www.flickr.com/search/?q=juliana%20rotich" target="_blank"><i class="icon-flickr"></i> Flickr</a></p>
  </div>
    
      <div class="threeslides">
        <div class="slide"><img src="http://julia.na/assets/img/content/gallery1.jpg"></div>
        <div class="slide"><img src="http://julia.na/assets/img/content/gallery2.jpg"></div>
        <div class="slide"><img src="http://julia.na/assets/img/content/gallery3.jpg"></div>
        <div class="slide"><img src="http://julia.na/assets/img/content/gallery4.jpg"></div>
        <div class="slide"><img src="http://julia.na/assets/img/content/gallery5.jpg"></div>
        <div class="slide"><img src="http://julia.na/assets/img/content/gallery6.jpg"></div>
        <div class="slide"><img src="http://julia.na/assets/img/content/gallery7.jpg"></div>
        <div class="slide"><img src="http://julia.na/assets/img/content/gallery8.jpg"></div>
        <div class="slide"><img src="http://julia.na/assets/img/content/gallery9.jpg"></div>

      </div>
</div>
<!--end : panel -->
<!--start : panel -->
<div class="pagepanel white contact" id="contact">
  <div class="center">
    <h2>CONTACT</h2>
    <hr/>
    <p class="contact_link"><i class="icon-envelope"></i><br/><a href="mailto:contact@julia.na">contact (at) julia.na</a>  
    </p>

    <p class="contact_social">
      <a data-show-screen-name="false" target="_blank" 
              data-show-count="false" 
              href="https://twitter.com/afromusing"><i class="icon-twitter"></i>
      </a>
      <a href="http://www.linkedin.com/profile/view?id=6269776&authType=NAME_SEARCH&authToken=vdZQ&locale=en_US&srchid=262677101384535953486&srchindex=1&srchtotal=4&trk=vsrp_people_res_photo&trkInfo=VSRPsearchId%3A262677101384535953486%2CVSRPtargetId%3A6269776%2CVSRPcmpt%3Aprimary" target="_blank"><i class="icon-linkedin"></i></a>  
    </p>

    <p class="contact_link"><i class="icon-map-marker"></i><br/>
    <a 
    href="https://maps.google.co.ke/maps?q=ihub&hl=en&sll=-1.292302,36.792097&sspn=0.003304,0.00434&hq=ihub&t=m&z=16&iwloc=A"
    class="popup-maps" 

    

    >1st floor, Bishop Magua Centre, Ngong Road, Nairobi Kenya</a>  
    </p>

  </div>
</div>
<!--end : panel -->

<!--.......................................................
END : CONTENT    
.......................................................-->


<!--.......................................................
START : FOOTER   
.......................................................-->
<footer> 

<p>©2013 Juliana Rotich. All rights reserved.<span>built by
<a ata-show-screen-name="false" target="_blank" 
              data-show-count="false" 
              href="https://twitter.com/jeffuix">

<i class="icon-twitter"></i>jeffuix</a></span></p>
 
</footer>


<!--.......................................................
END : FOOTER   
.......................................................-->



<!-- jQuery: Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary --> 
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src="http://julia.na/js/libs/jquery.js"><\/script>')</script>

<script>
 jQuery(document).ready(function($) {
  $(".scroll").click(function(event){   
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top -50}, 1000);
    });
  });
</script>

 
<script src="http://julia.na/js/jquery.bxslider.min.js"></script>
<script>
$(document).ready(function(){
  $('.twoslides').bxSlider({
    slideWidth: 640,
    minSlides: 1,
    maxSlides: 2,
    slideMargin: 0,
    adaptiveHeight:true,
    controls:false,
    auto:true
  });
});
</script>

<script>
$(document).ready(function(){
  $('.threeslides').bxSlider({
    slideWidth: 425,
    minSlides: 1,
    maxSlides: 3,
    slideMargin: 0,
    adaptiveHeight:true,
    controls:false,
    auto:true
  });
});
</script>

<script src="http://julia.na/js/jquery.magnific-popup.min.js"></script>
 <script type="text/javascript">
      $(document).ready(function() {
        $('.popup-youtube, .popup-vimeo, .popup-maps').magnificPopup({
          type: 'iframe',
           disableOn: 480,
          mainClass: 'mfp-fade',
          removalDelay: 160,
          preloader: false,

          fixedContentPos: false
        });
      });
    </script>

  
<script src="http://julia.na/js/foundation.min.js"></script>
  
<script>
  $(document).foundation();
</script>


<script src="http://julia.na/js/foundation/foundation.topbar.js"></script>
   <!--
  
  <script src="http://julia.na/js/foundation/foundation.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.alerts.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.clearing.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.cookie.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.dropdown.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.forms.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.joyride.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.magellan.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.orbit.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.reveal.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.section.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.tooltips.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.topbar.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.interchange.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.placeholder.js"></script>
  
  <script src="http://julia.na/js/foundation/foundation.abide.js"></script>
  
  -->

</body>

<script src="http://julia.na/js/main.js"></script>

<script>
    $(".more_body").hide();
  //toggle the componenet with class msg_body
  $(".more_head").click(function()
  {
    $(this).next(".more_body").slideToggle(600);
  });

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45880248-1', 'julia.na');
  ga('send', 'pageview');

</script>


</body>
</html>
